<!--show画面は使用しない-->
<!--<div class="main posts-new">
  <div class="container">
    <div class="form">
      <div class="form-body">

        <div class="field">
          <= "タイトル：#{@memo.title}" %><br>
        </div>

        <div class="field">
          <= "内容：#{@memo.content}" %><br>
        </div>

        <div class="field">
          <= "画像：#{image_tag @memo.icon}" %><br>
        </div>
        
      </div>
    </div>
  </div>
</div>-->